.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* logo */
.logo-image{
  width: 100px;
  height: 90px;
}

/* therapits doctors cards */

.alltherapist-div{
  margin-top: 30px;
}

#id-card{
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(53, 53, 53, 0.2);
  padding: 12px;
  text-align: center;
  background-color: #ffffff;
  /* padding: 1px; */
}

#id-card:hover{
  margin-up: 5px;
  /* box-shadow: 0 4px 8px 0 rgba(223, 200, 200, 0.2); */
  box-shadow: 0 6px 12px 0 rgba(202, 14, 14, 0.2);
  /* padding: 1px; */
}

.therapist-cards{
   float: left;
   padding: 15px; 
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   height: 1000px;
   margin-left: 70px;
   margin-right: -90px;
}

.therapist-cardshover{
  color: rgb(255,85,120);
}

#card-thera-button{
  /* flex-wrap: wrap;
  justify-content: space-between; */
  /* position: relative;
  margin-top: 100px; */
}


.titl{
  font-size: 16px;
  font-weight: bold;
}

 #img-div{
  width: 280px;
  height: 280px;
} 

/* navbar */
nav {
  /* display: flex;  */
  /* justify-content: space-between;  */
  /* padding: 4rem 3rem;  */
  /* background: rgb(255,85,120); */
  /* background: rgb(134, 134, 134); */
  /* background: rgb(0, 0, 0); */
  /* background-color: rgb(214, 214, 214)   */
  background: rgb(155, 155, 155);
}

/* nav ul {
  display: flex;
  list-style: none;
} */

/* nav li {
  padding-right: 4rem;
  margin-top: -20px;
} */

nav a {
  text-decoration: none;
  color: #ffffff;
  transition: color .050s;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  padding: 10px;
  /* margin-bottom: 10px;  */
}

nav a:hover {
  color: rgb(255,85,120);
}

.a-buttons{
  margin-top: -10px;
}

/* #a-button{
  float: left;
  margin-left: 1190px;
  padding: 10px; 
  transition: color .050s;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  margin-top: -10px;
}  */

 .navnav{
  float: left;
  justify-content: space-between;
  margin-left: 870px;
  text-decoration: none;
} 

#nav-button{
  margin-top: -10px;
}

.nav-buttons{
  margin-top: -10px;
  float: left;
  margin-left: 1200px;
}

/* #nav-button-in-out{
  margin-top: -4px;
} */

.navbar-bar{
height: 220px;
}

#member-already{
  text-decoration: none;
}
/* a:hover{
  color: gold;
  background-color: rgb(83, 219, 49);
} */


/* @media only screen and (max-width: 400px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    padding-top: 0.5rem;
  }
  nav li {
    padding: 0.5rem 0;
  }
} 

@media only screen and (max-width: 800px) {
  .logo-image  {
    flex-direction: column;
  }
  .logo-image  {
    flex-direction: column;
    padding-top: 0.5rem;
  }
  .logo-image  {
    padding: 1rem 1;
  }
}  */

/* logo */
.logo {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

/* @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); */
.logo-text{
  font-family: 'Rubik', sans-serif;
}

/* banner */
.banner-section{
  margin-left: 80px;
  margin-right: 80px;
}

.banner-div{
  justify-content: space-between;
  padding: 1rem 2rem;
  padding-top: 75px;
}

.bannerimg{
  width: 600px;
  height: 500px;
  float: right;
  padding: 1rem 2rem;
}

.banner-title{
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.banner-paragraph{
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  display: block;  
  text-align: left;
}

#banner-button{
  padding: 1rem 2rem;
  text-decoration: none;
}

#banner-button:hover{
  text-decoration: none;
}

/* midbanner */
#whole-service-div{
  margin-top: -10px;
}

.whole-banner-div{
  margin-top: -30px;

}
.mid-section{
  margin-left: 80px;

}
.mid-banner-div{
  margin-top: 90px;
}

.mid-services-div{
   margin-left: 500px;
   padding-top: 50px;
}
.mid-bannerimg{
  width: 600px;
  height: 500px;
  float: left;
}

.mid-banner-title{
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 50px;
  /* background-color:rgb(255,85,120) */
}

.mid-banner-paragraph{
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  /* margin: 3rem 2rem; */
  padding: 2rem 2rem;
  display: block;  
  text-align: center;

}

.mid-paragraph{
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  margin-top: -40px;
  float:inline-end;

}

#midbanner-image{
  width: 90px;
  height: 80px;
  display:inline-block;
  /* background-color:rgb(221, 221, 221) */
  background-color: rgb(214, 214, 214)  
}

.mid-book{
float: left;
  margin-right: 40px;
  margin-left: 100px;
}

.mid-review{
  float: left;
  margin-right: 50px;
  margin-left: 0px;

}

.mid-share{
  float: left;
  margin-right: 90px;
  margin-left: 100px;
}

.mid-chat{
  float: left;
  margin-right: 100px;
  margin-left: 0px;
}

/* influencers */
.influencers-section{
  margin-left: 250px;
  margin-top: 250px;
  padding-top: 150px;
}

.influencers-title{
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

#influencers-div{
  float: left;
  display: flex; 
  justify-content: space-between; 
  margin-right: 40px;
  padding-bottom: 380px;
}

#influencers-divv{
  margin-left: 20px;
}

/* #influencers-img{
  margin-left: 20px;
} */

.influencer-paragraph{
  font-size: 12px;
  margin-right: 30px;
}

.footer-div{
  display: flex; 
  justify-content: space-between; 
  padding: 4rem 8rem;
  width:100%;
  /* height:100%;   */
  /* margin-top: 100%; */
  /* height:200px;    */
  /* background: linear-gradient(rgba(253, 253, 253, 0.5),
  rgb(255,85,120)); */
  background-color:rgb(241,70,103);
}

.footer-color{
color: white;
}


.footer-color:hover{
  color:  rgb(255,85,120);
}

/* sign up and sign in */
/* .signUp-form{
  margin-top: 80px;
  display:flex; 
  margin-left: 300px;
} */

/* #last-name{
  width: 300px; 
} */

.signup-div{
  margin-top: 100px;
  display:flex; 
  justify-content: space-between; 
  margin-left: 500px;
  padding-bottom: 100px;
}

.signin-div{
  margin-top: 130px;
  display:flex; 
  justify-content: space-between; 
  margin-left: 500px;
  padding-bottom: 400px; 
}
#sign-form{
  width: 800px; 
}

#label-id{
float: left;
}

/* darkmode */
.black{
  background-color: black;
}

.blk-whitefont{
  color: white;
}
/* nav animation colors */
/* #link-nav-colors{
  color: white;
} */

/* currentuser */
.current-user{
  /* font-size: 12px; */
  float: left;
  margin-left: 45px;
  margin-right: 900px;
  margin-top: -5px;
  /* background-color: black; */
}
.useronluine{
  color: rgb(255, 255, 255);
  font-size: 20px;
}


#profile-detail{
  margin-top: -36px;
  height: 100%;
  /* width: 400px; */
  /* margin-top: -103px; */
  /* width: 25%; */
  /* padding: 10px; */
  background-color: rgb(214, 214, 214)  
  /* background-color: rgb(241,70,103); */
  /* background: linear-gradient(rgb(241,70,103), rgb(255, 255, 255)); */
}


#profile-detail-blk-white{
  margin-top: -36px;
  height: 100%;
  background-color: rgb(59, 59, 59)
  /* margin-top: -103px; */
  /* width: 400px; */
  /* height: 60rem; */
  /* padding: 10px; */

  /* background-color: rgb(110, 29, 45) */
/* background: linear-gradient(rgb(66, 17, 27), rgb(255, 255, 255)); */
}

#dark-button{
  float: center;
  margin-left: 200px;
}

#div2-dark{
  background-color: rgb(0, 0, 0);
  /* margin: 15px 15px; */
  /* -webkit-box-shadow: 2px 3px 8px #eee;
 -moz-box-shadow: 2px 3px 8px #eee;
 box-shadow: 2px 3px 8px #eee; */
}

.div2{
  border:2px soild rgb(0, 0, 0);
  /* outline: 2px dashed blue; */
    /* margin: 15px 15px; */
 /* -webkit-box-shadow: 2px 3px 8px rgb(145, 55, 55);
 -moz-box-shadow: 2px 3px 8px rgb(18, 41, 105); */
 /* box-shadow: 2px 2px rgb(252, 97, 97); */
}


.userOnline{
  margin-top: 10px;
}

/* #userOnline-img{
  width: 200px;
  height: 200px;
  margin-left: 85px;
  padding: 10px;
} */


#userOnline-img{
  margin-top: 85px;
} 
.tweets-div{
  /* margin-left: 300px; */
}

/* #text-area-proile{
  margin-left:1000px;
  padding: 10px;
} */

#textbox-profile{
  width: 700px;
  padding: 0.1px;
}

/* .tweet-box{
  margin-left: 475px;
  margin-right: 176px;
} */

#input-div{
margin-top: 20px;
margin-bottom: 100%;

/* margin-bottom: 933px; */
}


/* new profile */

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 6 / 2; }
  .div2 { grid-area: 1 / 2 / 4 / 5; }
  .div3 { grid-area: 4 / 2 / 6 / 5; }
  .div4 { grid-area: 1 / 5 / 6 / 6; }

