/* .bot-cover-photo {
    width: 40px;
} */

/* .human-input {
} */

.text-chat{
    font-size: 28px;
}

#text-chat{
    font-size: 20px;
}

#user-input {
    background-color: rgba(211, 211, 211, 0.646);
    border-radius: 20px;
    padding-left: 1rem;
    border-radius: 20px;
}

#bot-reply {
    background-color: rgb(255,85,120);
    padding-bottom: 0.1px;
    padding-left: 1rem;
    border-radius: 20px;
}

.conversation-box {
}

.chatbox {
    overflow-y: scroll;
    overflow-y: auto;
    height: 500px;
}

#bot-button{
    width: 55px;
    height: 40px;
    top: 1200px;
    position: fixed;
    z-index: 1000;
    margin-left: 700px;
    background-color:  rgb(255, 255, 255);
    /* bottom: 0; */
    /* right: 0; */
    /* float: left; */
    /* left: 0; */
}